.already-upVoted {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #fff !important;
}

.already-downVoted {
  background-color: #fff !important;
  color: #000 !important;
  border-color: #fff !important;
}
